html,body{
  width:100%;
}

h2,p{
  margin: 0px 0px;
}

/* header */

header {
  width:100%;
}

header > div {
  max-width:1280px;
  height:103px;
  margin:0px auto;
}

#Menu {
  font-size:18px;
  font-weight:700;
  align-items: center;
}

.Medical {
  margin:22px 33px;
}

#Menu div {
  margin-right:50px;
}

#LOGIN {
  font-size: 16px;
  line-height: 40px;
  margin:0px 8px;
}
#REGISTER {
  width:160px;
  height:40px;
  color:#fff;
  background-color: #4caf50;
  border-radius: 50px;
  font-size:16px;
  text-align: center;
  line-height: 40px;
  margin:0px 35px;
}

.gear {
  margin:0px 33px;
}

header > div > div {
  align-items: center;
}

.flex{
  display:flex;
}

.bg {
  position:absolute;
  width:700px;
  height:960px;
  top:0px;
  right:0px;
  background-image:url(../img/Illustration.png);
  background-repeat: no-repeat;
  z-index:-1;
}

/*first (Lorem ipsum dolor amet) */

.first{
  width:100%;
  max-width:1280px;
  margin:0px auto;
  margin-top:100px;
}

.first > div{
  max-width:620px;
  height:275px;
}
.firstTitle {
  vertical-align:bottom;
  font-size:32px;
}

h2,p{
  margin: 0px 0px;
}

.firstMaintext {
  height:97.5px;
  padding: 30px 0px;
  font-size: 32px;
}

.firstBtn {
  display:flex;
  height:56px;
  align-items: center;
}

.firstBtn > h2{
  font-size : 24px;
}

.firstBtn h2.moreInfo{
  font-size : 24px;
  color:#408243;
}

.firstBtn h2.registerNow {
  margin:0px 26px;
  width:260px;
  height:40px;
  color:#fff;
  background-color: #4caf50;
  border-radius: 50px;
  text-align: center;
  line-height:40px;
}



/*second(Buiness Solution)*/
.second {
  width:100%;
  max-width: 1068px;
  height:89px;
  margin:110px auto;
}

.second > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second h2 {
  font-size : 28px;
}

.second p {
  font-size : 18px;
}

.second img {
  margin-left:10px;
  margin-right:35px;
}

/*third(+1200 Doctors) */

.third {
  width:100%;
  max-width:1127px;
  height : 210px;
  padding : 40px 0px;
  margin:0 auto;
}

.third > div {
  justify-content: center;
  align-items: center;
}

.thirdImg {
  text-align: left;
  margin-right:20px;
}

.thirdItem {
  align-items: flex-end;
  justify-content: center;
  margin:15px;
}

.big {
  font-size : 48px;
}

.green {
  color:#357a38;
}

.big + h2 {
  font-size:36px;
}

.thirdMaintext {
  font-size:18px;
  text-align: center;
}

/* fourth(Clinic Facilities) */

.fourth {
  width:100%;
  max-width:1280px;
  height:780px;
  margin: 38px auto;
}

.fourthTop {
  width:100%;
  height:250px;
  padding-top:120px;
}

.fourthTitle {
  font-size:40px;
}

.fourthMain {
  width:100%;
  display: flex;
  padding:60px 0px;
}

.fourthItemMainBtn {
  margin-top:34px;
  width:100%;
  text-align: right;
}

.forthBottom {
  display: flex;
  padding-bottom:60px;
}

.forthImg {
  width:430px;
}

.fourthItem {
  width:260px;
  height:390px;
  margin-right:40px;
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.fourthItemImg {
  width:260px;
  height:160px;
  border-radius: 15px 15px 30px 0px;
}

.fourthTextBox {
  margin:20px;
}

.fourthItemMainBtn {
  width:144px;
  border-radius: 15px 0px 15px 0px;
  color:#fff;
  background-color:#4caf50;
  font-size:18px;
  float: right;
}

/* fifth(Our Speciality) */

.fifth {
  width:100%;
  max-width:1208px;
  height:607px;
  margin:0px auto;
}

.fifthTitle {
  margin-top:135px;
  font-size:34.70px;
}

.fifthMaintext {
  width: 595px;
  padding: 50px 0px;
  font-size: 24px;
}

.fifthMenuBox{
  width:600px;
  
}

.fifthMenu {
  display:flex;
  padding-bottom:20px;
}

.fifthMenu h2 {
  margin-right:20px;
  padding:5px 40px;
  border:#f7f7f7 3px solid;
  border-radius: 30px;
  font-size:14px;
}

.blue h2 {
  background-color:#03acf2;
  color:#fff;
}

.bg3 {
  width:579px;
  height:607px;
  background-image:url(../img/Illustration\ &\ Title.png);
}

/* sixth(Ask Doctos) */
.sixth {
  width:100%;
  max-width:1324px;
  height:649px;
  margin:130px auto;
}

.sixthTitle {
  width:100%;
  max-width:300px;
  font-size: 52px;
  margin-top:58px;
}

.sixMenuItem {
  margin:35px 0px;
  padding-left:20px;
  font-size:24px;
  vertical-align:center;
}

.sky {
  width:220px;
  height:40px;
  background-color: #b3e5fc;
  color:#1365a5;
  border-radius:30px;
  line-height:40px;
}

.sixthItems {
  height:642px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sixthItem {
  position:relative;
  width:445px;
  height:200px;
}

.sixthItemBox {
  width:405px;
  height:156px;
  margin: 44px 0px 0px 40px;
  box-shadow: -15px -15px 30px #f9f9f9;
}

.face {
  position:absolute;
  width:100px;
  height:100px;
  border-radius: 0px 50% 50% 50%;
  border: 1px solid #000;
  background-image:url(../img/manFace.png);
  background-size:100px;
}

.sixthNameAndJob {
  margin-left :70px;
}

.Job {
  font-size:20px;
  color:#929292;
}

.sixthCareer .ico {
  width:24px;
  height:24px;
  margin:0px 10px;
}

.sixth hr {
  margin:15px;
}

.sixthCareer {
  margin-left: 20px;

}

.careerBox {
  justify-content: center;
  align-items: center;
}

.careerBox > div {
  margin-right: 30px;
}

.sixthCareer h2 {
  font-size : 20px;
}

.chatBtn {
  color : #fff;
  background-color : #4caf50;
  border-radius: 30px;
  padding:10px 30px;
}

/* seventh(People Testimonials) */

.seventh {
  width:100%;
  max-width:1452px;
  height:712px;
  margin:0px auto;
}

.seventhTitle {
  margin-left:140px;
  font-size : 36px;
}
.seventhMaintext {
  margin:50px 0px 50px 140px;
  font-size : 24px;
}

.seventhItem {
  width:300px;
  height:300px;
  margin:25px;
}

.sevnethcircle {
  width:300px;
  height:300px;
  border-radius:0px 50% 50% 50%;
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
}

.seventhItemBox {
  width:250px;
  height:250px;
  margin:auto;
}

.stars {
  margin:40px 0px;
}

.star img {
  width:24px;
  height:24px;
}

.seventhNameAndJob {
  text-align: right;
}

.seventhJob {
  font-size:12px;
  color:#929292;
}

.seventhFace {
  width:100px;
  height:100px;
  border-radius: 50% 50% 0px 50%;
  border: 1px solid #000;
}

.circles {
  width:100%;
  max-width: 960px;
  justify-content: center;
  margin: 70px 0px;
}

.circle {
  width:16px;
  height:16px;
  border-radius: 50%;
  margin:5px;
  background-color: #b3e5fc;
  border:1px solid #b3e5fc;
}

/* eighth(Ready to get started?) */

.eighth {
  width:100%;
  max-width:1215px;
  height:169px;
  margin:0px auto;
  background: linear-gradient( 135deg,#03acf2 , #bde3cb);
  border-radius: 30px;
}

.eighthBox {
  width:100%;
  max-width:1115px;
  height:85px;
  padding:40px;
  margin:0 auto;
  justify-content: space-between;
}

.eighthMain {
  color:#fff;
  line-height: 40px;
}

.eighthBtn {
  width:300px;
  height:70px;
  background-color: #fff;
  font-size:12px;
  color:#58c8f6;
  border-radius: 35px;
  text-align: center;
  line-height:70px;
}

.eighthTitle {
  font-size: 18px;
}

.eighthMaintext {
  font-size: 12px;
}

/* nineth(Our Clinics) */

.nineth {
  width:1200px;
  height:798px;
  margin:100px auto;
}
.ninethTitle {
  font-size:52px;
}

.ninethMaintext {
  font-size:24px;
  margin:40px 0px;
}

.ninethItemBox {
  flex-wrap: wrap;
}

.ninethItem {
  width:500px;
  height:200px;
  box-shadow: 0px 0px 20px -10px #000;
  border-radius: 20px;
  margin: 0px 80px 30px 0px;
}

#buildingImg1 {
  width:160px;
  height:160px;
  margin:20px 10px;
  background-image:url(../img/Rectangle1.png);
  background-size:160px;
  border-radius: 20px;
}


.ninethInformation h2:not(.HeadQuarter) {
  font-size : 16px;
}

.ninethBtn {
  width:300px;
  height:40px;
  border-radius: 30px;
  border:2px solid #5db761;
}

.ninethBtn h2 {
  text-align: center;
  color:#5db761;
  font-size: 12px;
  line-height:40px;
}

.ninethInformation {
  margin:10px;
}
.ninethInformation div {
  margin:10px 0px;
}

.ninethIco {
  width:16px;
  height:16px;
  margin-right:10px;
}

.ninethPinIco{
  width:16px;
  height:20px;
}

.spaceBetween {
  display:flex;
  justify-content: space-between;
}

footer {
  width:100%;
  max-width : 1173px;
  height:187px;
  margin:0px auto;
  padding-top:100px;
}

.footerBox h2:not(.blue) {
  font-size:16px;
}
.footerInformation {
  width:100%;
  max-width:350px;
}

.footerMaintext {
  margin:20px 0px;
}

.footerMenu div {
  width: 180px;
  height: 100%;
}

.footerMenu div h2 {
  text-align: left;
  line-height: 35px;
}

.blue {
  font-size : 18px;
  color : #03ACF2;
}

.footerSNS .flex {
  margin:20px 0px;
}
.grayCircle {
  width:36px;
  height:36px;
  background-color: #eae5e7;
  border-radius:50%;
  text-align: center;
  line-height:36px;
  margin:8px;
}

.grayCircle img {
  margin-top : 10px;
}

.language {
  width:200px;
  height:40px;
  background-color: #fff;
  border:1px solid #85d7f9;
  border-radius: 10px;
  justify-content: left;
  line-height: 40px;
  text-align: left;
}

.language h2 {
  margin:0px;
  width:135px;
}

.earth {
  margin:10px 15px
}

.arrow {
  margin:15px;
}