/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
  all:unset;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
html,body{
  width:100%;
  overflow-x: hidden;
}

body {
  background-image:url(../img/Illustration.png);
  background-repeat: no-repeat;
  background-position:right top;
}

body > div {
  background-image : url(../img/Deco.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* font face */
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}


body {
  font-family : 'Lato-Regular';
}

h1, h2 {
  font-family : 'Lato-Bold';
}


/* header */

header {
  display: flex;
  width:100%;
  max-width:1280px;
  height:103px;
  margin:0px auto;
}

header >div{
  width:100%;
}

.Medical {
  margin:22px 33px;
}

.Menu {
  font-size:18px;
}

.Menu > ul > li > a {
  font-family: "Lato-Bold";

}
/* hover (공부필요) */
.Menu > ul > li:hover {
  display: inline-block;
  margin-right:50px;
  margin-top:37px;
  margin-bottom:27px;
  padding-bottom:10px;
  line-height:27px;

  /* you can change these variables to control the border */
  --border-color: #03acf2;
  --border-width: 5px;
  --bottom-distance: 0px; /* you can increase this */
  
  color: #3f80b4;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

.Menu > ul > li {
  display: inline-block;
  margin-right:50px;
  margin-top:37px;
  margin-bottom:27px;
  padding-bottom:10px;
  line-height:27px;
  
  /* you can change these variables to control the border */
  --border-color: #03acf2;
  --border-width: 5px;
  --bottom-distance: 0px; /* you can increase this */
  
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  background-position: 0 calc(100% - var(--bottom-distance))
}

.Menu > ul > li:hover {
  background-size: 55% var(--border-width);
}

.Solution > div:hover > h2 {
  color: #00579b;
}

.Solution > div:hover {
  /* you can change these variables to control the border */
  --border-color: #03acf2;
  --border-width: 5px;
  --bottom-distance: 0px; /* you can increase this */
  
  display: inline-block;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

.Solution > div {

  /* you can change these variables to control the border */
  --border-color: #03acf2;
  --border-width: 5px;
  --bottom-distance: 0px; /* you can increase this */
  
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  background-position: 0 calc(100% - var(--bottom-distance))
}

.Solution > div:hover {
  background-size: 40% var(--border-width);
}

/* hover (end) */

#LOGIN {
  font-size: 16px;
  line-height: 40px;
  margin:0px 8px;
}
#REGISTER {
  width:160px;
  height:40px;
  color:#fff;
  background-color: #4caf50;
  border-radius: 50px;
  font-family: "Lato-Black";
  font-size:16px;
  text-align: center;
  line-height: 40px;
  margin:0px 35px;
}

.line {
  content:url(../img/Line.png);
}

.gear {
  margin:0px 33px;
}

header > div > div {
  align-items: center;
}

.flex{
  display:flex;
}

/*Home (Lorem ipsum dolor amet) */

.Home{
  width:100%;
  max-width:1214px;
  margin:0px auto;
  margin-top:100px;
}

.Home > div{
  max-width:620px;
  height:275px;
}
.Home-title {
  vertical-align:bottom;
  font-size:48px;
}

h2,p{
  margin: 0px 0px;
}

.Home-maintext {
  height:97.5px;
  padding: 30px 0px;
  font-size: 32px;
  line-height:50px;
  color:#757575;
}

.Home-btn {
  display:flex;
  height:56px;
  align-items: center;
}

.Home-btn > h2{
  font-size : 24px;
}

.more-info{
  font-size : 24px;
  color:#357a38;
}

.register-now {
  margin:0px 26px;
  width:260px;
  height:40px;
  color:#fff;
  background-color: #4caf50;
  border-radius: 50px;
  text-align: center;
  line-height:40px;
  
}



/*second(Buiness Solution)*/

.Solution {
  width:100%;
  max-width: 1068px;
  height:89px;
  margin:110px auto;
  justify-content: center;
  align-items: center;
}

.Solution > div {
  border-right:1px solid #e0e0e0;
  padding-right:15px;
  padding-bottom:10px;
}

.Solution > div:last-child {
  border-right:0px;
  padding-right:0px;
}

.Solution h2 {
  font-size : 28px;
  height:43px;
}

.Solution p {
  font-size : 18px;
  height:24px;
}

/*Specification(+1200 Doctors) */

.Specification {
  width:100%;
  max-width:1127px;
  height : 210px;
  padding : 40px 0px;
  margin:0 auto;
}

.Specification > div {
  justify-content: center;
  align-items: center;
}

.Specification-img {
  text-align: left;
  margin-right:20px;
}

.SpecificationItem {
  align-items: flex-end;
  justify-content: center;
  margin:15px;
}

.big {
  font-family : "Lato-Bold";
  font-size : 48px;
}

.green {
  color:#357a38;
}

.big + h2 {
  font-size:36px;
}

.Specification-description {
  font-size:18px;
  text-align: center;
}

/* clinic-facilities(Clinic Facilities) */

.clinic-facilities {
  position: relative;
  width:100%;
  max-width:1280px;
  height:780px;
  margin: 38px auto;
}

.clinic-facilities-top {
  width:100%;
  height:250px;
  padding-top:120px;
}

.clinic-facilities-title {
  font-size:52px;
}

.clinic-facilities-description {
  width:100%;
  padding:50px 0px;
  font-size:24px;
}

.SEE-ALL > a {
  font-size:28px;
  color:#055a9d;
  margin-right:15px;
  }



.clinic-facilities-item-btn {
  margin-top:34px;
  width:100%;
  text-align: right;
}

.clinic-facilities-bottom {
  display: flex;
  padding-bottom:60px;
}

.clinic-facilities-bg {
  width:430px;
  height:365px;
  background-image : url(../img/Clinic_Facilities_bg.png);
  background-size : 85%;
  background-repeat: no-repeat;
}

.clinic-facilities-bg-circle {
  position:absolute;
  width:1200px;
  height:1200px;
  top:-190px;
  left:-420px;
  background-image : url(../img/Clinic_Facilities_Circle.PNG);
  background-repeat: no-repeat;
  z-index:-1;
}


.arrow-box {
  justify-content: center;
}

.arrow-box > div {
  margin:0px 8px;
  border-radius: 50%;
  box-shadow: 0 0px 70px -10px rgba(0, 0, 0, 1);
}

.left-arrow {
  transform: scaleX(-1);
}

.clinic-facilities-item {
  width:260px;
  height:390px;
  margin-right:40px;
  box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
  background-color: #fff;
  border-radius: 15px;
  z-index: 1;
}

.clinic-facilities-item-img {
  width:260px;
  height:175px;
  border-radius: 15px 15px 30px 0px;
  background-image:url(../img/clinic_img_1.png);
}

.clinic-facilities-text-box {
  width:210px;
  height:125px;
  margin:0px auto;
}

.clinic-facilities-item-title {
  margin:20px 0px;
  font-size:24px;
}

.clinic-facilities-item-maintext {
  color:#7d7d7d;
  font-size:16px;
  line-height:25px;
}

.clinic-facilities-item-btn {
  width:144px;
  padding:9px 0px;
  color:#fff;
  border-radius: 15px 0px 15px 0px;
  background-color:#4caf50;
  text-align: center;
  font-size:18px;
  float: right;
}

/* fifth(Our Speciality) */

.our-speciality {
  width:100%;
  max-width:1208px;
  height:607px;
  margin:100px auto;
}

.our-speciality-title {
  margin-top:135px;
  font-size:52px;
}

.our-speciality-maintext {
  width: 595px;
  height:115px;
  padding: 50px 0px;
  font-size: 24px;
  line-height:38px;
}

.our-speciality-menu-box{
  width:493px;
}

.our-speciality-menu {
  display:flex;
  padding-bottom:20px;
}

.our-speciality-menu div {
  margin-right:20px;
  padding:10px 40px;
  border:#f7f7f7 3px solid;
  border-radius: 30px;
  font-size:14px;
}

.blue div {
  background-color:#03acf2;
  color:#fff;
}

.our-speciality-bg {
  width:579px;
  height:607px;
  background-image:url(../img/Illustration\ &\ Title.png);
}

/* ask-doctosth(Ask Doctos) */
.ask-doctos {
  width:100%;
  max-width:1324px;
  height:649px;
  margin:130px auto;
  background-image:url(../img/ask_doctos_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.ask-doctos-title {
  width:100%;
  max-width:300px;
  font-size: 52px;
  margin-top:58px;
}

.ask-doctos-menu-item {
  margin:45px 0px;
  padding-left:20px;
  font-size:24px;
  vertical-align:center;
}

.sky {
  width:220px;
  height:40px;
  background-color: #b3e5fc;
  color:#1365a5;
  border-radius:30px;
  line-height:40px;
}

.ask-doctos-items {
  height:642px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.ask-doctos-item {
  position:relative;
  width:445px;
  height:200px;
}

.ask-doctos-item-box {
  width:405px;
  height:156px;
  margin: 44px 0px 0px 40px;
  box-shadow: -15px -15px 30px #f9f9f9;
  background-color: #fff;
}

.face {
  position:absolute;
  width:100px;
  height:100px;
  border-radius: 0px 50% 50% 50%;
  border: 1px solid #000;
  background-image:url(../img/manFace.png);
  background-size:100px;
}

.ask-doctos-name-and-job {
  margin-left :70px;
}

.Name {
  font-size:24px;
  padding:10px 0px;
}

.Job {
  font-size:20px;
  color:#929292;
}

.ask-doctos-career .ico {
  width:24px;
  height:24px;
  margin:0px 10px;
}

.ask-doctos hr {
  margin:15px;
}

.ask-doctos-career {
  margin-left: 20px;

}

.career-box {
  justify-content: center;
  align-items: center;
  line-height:24px;
}

.career-box > div {
  margin-right: 30px;
}

.ask-doctos-career h2 {
  font-size : 20px;
}

.chat-btn {
  color : #fff;
  background-color : #4caf50;
  border-radius: 30px;
  padding:10px 30px;
}

/* People-testimonials(People Testimonials) */

.People-testimonials {
  position: relative;
  width:100%;
  max-width:1452px;
  height:712px;
  margin:0px auto;
}

.People-testimonials-title {
  margin-left:140px;
  font-size : 52px;
}
.People-testimonials-maintext {
  margin:50px 0px 50px 140px;
  font-size : 24px;
}

.People-testimonials-circle {
  width:300px;
  height:300px;
  border-radius:0px 50% 50% 50%;
  background-color: #fff;
  box-shadow: 0 0px 100px -80px rgba(0, 0, 0, 1);
}

.People-testimonials-item {
  width:300px;
  height:300px;
  overflow: hidden;
  margin:25px;
}

.People-testimonials-item-box {
  position:relative;
  max-width:250px;
  height:250px;
  margin:0 auto;
  padding-top:30px;
}

.People-testimonials-review {
  max-width:230px;
  line-height:20px;
}

.stars {
  margin:40px 0px;
}

.star img {
  width:24px;
  height:24px;
}

.People-testimonials-profile {
  position:absolute;
  right:0px;
  bottom:0px;
}
.People-testimonials-name-and-job {
  margin:auto 0px;
  margin-right:10px;
  line-height: 25px;
  text-align: right;
}

.People-testimonials-name {
  font-size:20px;
}
.People-testimonials-job {
  font-size:12px;
  color:#929292;
}

.People-testimonials-face {
  width: 80px;
  height:80px;
  border-radius: 50% 50% 0px 50%;
  border: 1px solid #000;
  background-image: url(../img/manFace.png);
  background-color: #fff;
  background-size:80px;
}

.People-testimonials-bg {
  width:350px;
  height:350px;
  background-image: url(../img/People_Testimonials_bg.png);
  background-size:100%;
  background-repeat: no-repeat;
}

.People-testimonials-bg-circle {
  position: absolute;
  width:1200px;
  height:1200px;
  right:-500px;
  top:-150px;
  background-image : url(../img/Clinic_Facilities_Circle.PNG);
  background-size:80%;
  background-repeat: no-repeat;
  z-index:-1;

}

.circles {
  width:100%;
  max-width: 960px;
  justify-content: center;
  margin: 70px 0px;
}

.circle {
  width:16px;
  height:16px;
  border-radius: 50%;
  margin:5px;
  background-color: #b3e5fc;
  border:1px solid #b3e5fc;
}

/* create-appointment(Ready to get started?) */

.create-appointment {
  width:100%;
  max-width:1215px;
  height:169px;
  margin:0px auto;
  background: linear-gradient( 135deg,#03acf2 , #bde3cb);
  border-radius: 30px;
}

.create-appointment-box {
  height:85px;
  padding:30px 70px;
  margin:0 auto;
  justify-content: space-between;
  align-items: flex-end;
}

.create-appointment-main {
  height:84px;
  color:#fff;
  line-height: 50px;
}

.create-appointment-btn {
  width:313px;
  height:69px;
  background-color: #fff;
  font-family: bold;
  font-size:18px;
  color:#58c8f6;
  border-radius: 35px;
  text-align: center;
  line-height:70px;
}

.create-appointment-title {
  font-family: "Lato-Black";
  font-size: 36px;
}

.create-appointment-maintext {
  font-family: "Lato-Bold";
  font-size: 24px;
}

/* ninth(Our Clinics) */

.our-clinics {
  width:1200px;
  height:798px;
  margin:100px auto;
}
.our-clinics-title {
  font-size:52px;
}

.our-clinics-maintext {
  font-size:24px;
  margin:40px 0px;
}

.our-clinics-item-box {
  flex-wrap: wrap;
}

.our-clinics-item {
  width:530px;
  height:190px;
  box-shadow: 0px 0px 20px -10px #000;
  border-radius: 20px;
  margin-bottom:30px;
}

.HeadQuarter {
  font-family: "Lato-Black";
  font-size:16px;
}

.building-img {
  width:146px;
  height:150px;
  margin:20px 10px;
  background-image:url(../img/Rectangle1.png);
  background-size:160px;
  border-radius: 20px;
}

.our-clinics-btn {
  width:340px;
  height:37px;
  border-radius: 30px;
  border:2px solid #5db761;
  text-align: center;
  color:#5db761;
  font-family: "Lato-Bold";
  font-size: 12px;
  line-height:37px;
}

.our-clinics-information {
  margin-top:20px;
  margin-left:10px;
  margin-right:20px;
}
.our-clinics-information div {
  margin:10px 0px;
}

.call-and-location {
  width:310px;
}

.our-clinics-ico {
  width:16px;
  height:16px;
  margin-right:10px;
}

.our-clinics-pin-ico{
  width:16px;
  height:20px;
  margin-right:10px
}

.space-between {
  display:flex;
  justify-content: space-between; 
}

footer {

  width:100%;
  max-width : 1173px;
  height:187px;
  margin:0px auto;
  padding-bottom:100px;
}

.footer-box h2 {
  text-align: left;
  line-height: 35px;
  font-size : 18px;
  color : #03ACF2;
}

.footer-information {
  width:100%;
  max-width:290px;
  margin-right:25px;
}

.footer-maintext {
  margin:20px 0px;
  line-height:25px;
}

.footer-menu div {
  width: 208px;
  height: 185px;
}

.footer-menu > div > h2 {
  font-family: "Lato-Black";
}

.footer-menu div h3 {
  text-align: left;
  line-height: 35px;
}

.footer-SNS {
  float:right;
}
.footer-SNS .flex {
  margin:30px 0px;
}

.gray-circle {
  width:36px;
  height:36px;
  background-color: #eae5e7;
  border-radius:50%;
  text-align: center;
  line-height:36px;
  margin-left:12px;
  margin-right:4px;
}

.gray-circle img {
  margin-top : 10px;
}

.gray-circle:first-child img {
  margin-top : 5px;
}

.language-box {
  width:211px;
  height:38.5px;
  background-color: #fff;
  border:1px solid #85d7f9;
  border-radius: 10px;
  justify-content: left;
  line-height: 38.5px;
  text-align: left;
}

.language {
  margin:0px;
  width:135px;
  font-family: "Roboto-Medium";
  font-size:18px;
}

.earth {
  margin:10px 15px
}

.arrow {
  margin:15px;
}